@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Patua+One|Quicksand:400,700');

/*
Reset
*/
    *{
        /* Supprimer toutes les marges*/
        margin: 0;
        padding: 0;

        /* Intégrer les paddings et border dasn la taille des blocs */
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        /* Faire en sorte d'utiliser 1rem = 10px */
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }

    h1, h2{
        font-family: 'Patua One', cursive;
        font-weight: normal;
    }

    a, .fa-bars, .pagePortfolio article button{
        text-decoration: none;

        -webkit-transition: all .5s;
        transition: all .5s;
    }

    ul{
        list-style: none;
    }

    img{
        max-width: 100%;
    }


/*
Style header
*/
    header{
        background-color: #22175B;
        color: white;
        padding: 2rem;
        position: relative;
        margin-bottom: 3rem;
    }

    h1 span{
        display: block;
        font-size: .5em;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 1rem; 
    }

    nav ul{
        display: none;
        padding-bottom: 1rem;
    }

    .fa-bars {
        background-color: white;
        padding: 1rem 1.1rem;
        color: #22175b;
        margin-top: 1rem;
        border: .2rem solid #22175b;
        position: absolute;
        bottom: -1.8rem;
        left: 50%;

        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        -webkit-border-radius: 50%;
        border-radius: 50%; 
    }

    .fa-bars.active{
        background-color: #22175b;
        color: white;
        border-color: white;
    }

    nav a {
        color: white;
        font-weight: 700;
        background: rgba(255, 255, 255, .5);
        display: block;
        padding: .5rem;
        margin-bottom: .5rem;
    }

    nav a:hover, .active{
        color: #22175B;
        background-color: white;
    }


/*
Style footer
*/
    footer{
        background-color: #22175B;
        color: white;
        padding: .5rem;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }


/*
Style portfolio
*/
    .pagePortfolio article {
        float: left;
        width: 50%;
        border: 1rem solid white;
        height: 20rem;
        margin-bottom: 3rem;
        overflow: hidden;

        position: relative;
    }

    .pagePortfolio article div {
        position: absolute;
        width: 70%;
        background-color: white;
        padding: 2rem;
        bottom: 0;
        left: 50%;

        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .pagePortfolio article button {
        background-color: #22175b;
        border: none;
        padding: .5rem 1rem;
        color: white;
        position: absolute;
        top: -3rem;
        left: 50%;

        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .pagePortfolio article:hover button{
        top: 3rem;
    }

    .pagePortfolio article span {
        background-attachment: fixed;
        display: block;
        height: 80%;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: 100;

        display: none
    }

    .modal div {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        background-color: white;
        padding: 2rem;

        -webkit-border-radius: 1rem;
        border-radius: 1rem;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .fa-times {
        font-size: 3rem;
        position: absolute;
        right: -1.4rem;
        top: -1.4rem;
        background-color: white;
        padding: .1rem .6rem .5rem .6rem;

        -webkit-border-radius: 50%;
        border-radius: 50%;
    }